@import url('https://fonts.cdnfonts.com/css/hk-groteks');
@import url('https://fonts.cdnfonts.com/css/roboto');


#nav {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #152a86;
    font-size: 1.2em;
}
#nav ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    width: 100%;
    max-width: none;
    line-height: 1;
}
#nav li a {
    display: table-cell;
    white-space: nowrap;
    padding: 10px 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #152a86;
    transition-duration: 0.4s;
    font-family: 'HK Grotesk', sans-serif;
}
#nav li a:hover {
    background-color: #2e53f8;
}

#wrap {
    margin: 65px auto;
    padding: 20px 2%;
    /* background-color: #cecece; */
    width: 65%;
    border: 2px solid #cecece;
    /* -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    7px 7px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         7px 7px 5px 0px rgba(0, 0, 0, 0.5); */
}


@media screen and (max-width: 700px) {
    #nav { overflow: scroll; justify-content: flex-start; }
    #nav ul { justify-content: flex-start !important; }
    #wrap { width: 90%; }

    .column {
        width: 100%;
    }

    /* ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    ::-webkit-scrollbar-corner {
        display: none;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 1px solid #152a86;
        background-color: #2e53f8;
    } */
}

/* .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
} */

img {
    max-width: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 8px 2%;
}

body{
    font-family: 'HK Grotesk', sans-serif;
    padding-top: 40px;
    /* text-align: justify; */
    background-color: #f0f2f2;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-wrap: break-word;
}

p, ul, li{
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    hyphens: auto;
    color: #575757;
}

h1, h2, h3, h4, h5{
    font-family: 'HK Grotesk', sans-serif;
    color: #575757;
    word-wrap: break-word;
    hyphens: auto;
    hyphens: auto;
}

h1{
    font-size: 3em;
    letter-spacing: .4em;
    text-align: center;
    text-transform: uppercase;
}

h2{
    font-size: 2em;
    letter-spacing: .2em;
    text-transform: uppercase;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-style: italic;
}
h5{
    float: right;
    font-size: 1.2em;
    font-style: italic;
}

.button{
    font-family: 'HK Grotesk', sans-serif;
    border: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: #152a86; 
    border: 1px solid #2e53f8;
    border-radius: 50px;
}
  
.button:hover{
    background-color: #2e53f8;
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
}

.left{
    width: 25%;
    background-color: #F8F8F8;
    border-radius: 25px;
}

.left2{
    width: 35%;
}
  
.right{
    width: 30%;
    float: right;
}

.half{
    width: 50%;
}

.split{
    width: 35%;
    border-radius: 25px;
    background-color: #F8F8F8;
}

.sp{
    width: 60%;
    border-radius: 25px;
    margin: 10px;
}

.sp2{
    width: 27%;
    background-color: #F8F8F8;
    border-radius: 25px;
    margin: 10px;
    float: right;
}
  
.row:after{
    content: "";
    display: table;
    clear: both;
}

.color{
    background-color: #F8F8F8;
    border-radius: 25px;
}

.white{
    background-color: #fff;;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
    padding: 20px;
}

.contact{
    background-color: #F8F8F8;
    float: left;
    border-radius: 25px;
    padding: 10px;
}